@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rajdhani:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kode+Mono:wght@400..700&family=Rajdhani:wght@300;400;500;600;700&display=swap');


.color-bg{
  background: linear-gradient(120deg, #000000 0%, #3B1B34 100%);

}


.footer-bg {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(11.979959487915039px)

}

.block-bg{
  background: rgba(255, 255, 255, 0.1);
  

}

.color-border {
 border-color: rgba(255, 216, 90, 0.6);
}


.css-1s12h43-MuiGauge-container text{
  fill: rgba(255, 255, 255) !important
}

.css-1mhcdve-MuiPieArc-root{
  stroke:none !important
}

.css-wn5hww-MuiLineElement-root{
  stroke: linear-gradient(138.07deg, #FFD85A 8.5%, #DD6FFF 90.88%) !important;

}

.MuiChartsAxis-tick{
  display: none;
}
.MuiChartsAxis-line{
  display: none;
}

.css-175e1i1-MuiChartsAxis-root-MuiChartsYAxis-root .MuiChartsAxis-tickLabel{
  font-weight:bold !important;
  transform: rotate(30deg); /* Поворот тексту */


}


.MuiChartsAxis-tickLabel{
  fill: #fff !important;
  font-weight: bold !important;


}
.MuiChartsLegend-series{
  display: none;
}




.MuiMarkElement-root {
  display: none;
}
.color-purple{
  background: #9B5277;



}

.color-ground {
  background: #FFFFFF33;
}

.color-white{
  background: #F3F3F3;

}


.footer-blur {
  backdrop-filter: blur(400px); /* Blurs the content behind */
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
}
.card-bg{
  background: linear-gradient(120deg,  #1f1f1f, #9c9c9c);

}


.font-num{
  font-family: "Kode Mono", monospace;
  font-weight: 500;
  font-style: normal;

}


.bg-categories{
  background: #9B5277;
}

.active{
  background: #9B527733;
  border: 1px solid #9B527733
}

.bg-sec-color{
  backdrop-filter: blur(400px); /* Blurs the content behind */
  background-color: rgba(255, 255, 255, 0.1);

  border: 1px solid #9B527733
}
*{
  padding: 0;
  margin: 0;
  font-family: Inter;
  text-decoration-skip-ink: none;
  outline: none;

}


.animation {
  position: absolute;
  animation: wave 2.1s infinite ease-in-out;
  display: inline-block;
}


@keyframes wave {
  0% {
    transform: scale(1) rotate(0deg) translateY(0);
  }
  25% {
    transform: scale(1.2) rotate(10deg) translateY(-20px); /* Рух вверх */
  }
  50% {
    transform: scale(0.9) rotate(-10deg) translateY(0); /* Повернення на місце */
  }
  75% {
    transform: scale(1.1) rotate(5deg) translateY(20px); /* Рух вниз */
  }
  100% {
    transform: scale(1) rotate(0deg) translateY(0); /* Повернення на місце */
  }
}


.bank_card{
  background: linear-gradient(292.3deg, #A35CC2 -17.24%, #582E74 34.68%, #4E2869 65.18%, #7E495D 124.62%);

  
}












.css-quhxjy-MuiInputBase-root-MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color:#9B5277  !important
}

.css-113d811-MuiFormLabel-root-MuiInputLabel-root {
  color: #9B5277 !important
}

.css-1ll44ll-MuiOutlinedInput-notchedOutline{
  border-color: #9B5277!important
}
.css-19qnlrw-MuiFormLabel-root-MuiInputLabel-root {
  color: #9B5277 !important;
}


.css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input {
  color:#000 !important
}

.css-quhxjy-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 15px !important;
}
